<div class="search">
  <section class="search-section">
    <input type="text" #input value="borys" (keydown.enter)="search(input.value)" autofocus>
    <button (click)="search(input.value)">Search</button>
  </section>
  <div class='video-list'>
    <a *ngFor="let result of searchResult | async" class="video-tile" [routerLink]="[result.id.videoId]">
      <img class="video-tile-image" [src]="result.snippet.thumbnails.default.url">
      <span class="video-tile-title">{{result.snippet.title}}</span>
    </a>
  </div>
</div>
